<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <div id="app">
        <input type="text" v-model='a'>
        <input type="text" v-model='b'>
        <button @click='handle()'>求和</button>
        <div>{{msg}}</div>
    </div>
    <script src="js/vue.js"> </script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                b: 0,
                msg: ''
            },
            methods: {
                handle() {
                    this.msg = +this.a + +this.b
                }
            },
        })
    </script>
</body>

</html>